@import url(https://fonts.googleapis.com/css?family=Inconsolata);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 5px;
    font-family: "Inconsolata", Arial, sans-serif;
}

section{
    width: 100%;
    height: 100vh;
    color: #fff;
    background: linear-gradient(-45deg, yellow, red, orange, rgb(244, 75, 3) );
    background-size: 400% 400%;
    position: relative;
    animation: change 7s ease-in-out infinite;
}

h1{
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 10px solid #fff;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5rem 10rem;
}
a{
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5rem 5rem;
    border: 2px solid #fff;
}
p{
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
#myimage {
    height: 200px;
    width: 200px;
}
@keyframes change {
    0% {
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}